*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* banner */
#banner {
    position: relative;
    width: 100vw;
    height: 240px;
    background-color: #ffffff;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 50px;
    background: transparent;
    list-style-type: none;
    padding: 20px 20px 0px 20px;
    transition: background 0.4s, color 0.4s;
}
#navbar li {
    margin: 0 15px;
}
#navbar li a {
    border-radius: 20px;
    color: #333333;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.4s, color 0.4s;
}
#navbar:hover {
    background: white;
}
#navbar li a:hover {
    background: #290101;
    color: white;
}
#products ul {
    display: none;
    position: absolute;
    left: 0%;
    border-top: 1px #BFBFBF solid;
    border-bottom: 1px #BFBFBF solid;
    height: 343px;
    width: 100vw;
    background: white;
    list-style-type: none;
    margin-top: 18.5px;
    padding: 16px;
    z-index: 1;
}
.brands {
    font-weight: bold;
    margin-left: 0px;
    padding: 5px 10px;

}
.women {
    margin-top: 45px;
}
#products ul li{
    margin-left: 0px;
}
#products ul li a {
    display: block;
    background-color: transparent;
    color: #333333;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.4s, text-decoration 0.4s;
}
#exceptional{
    margin-top: 50px;
}
#products:hover ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#navbar li:focus-within ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#products ul li  a:hover {
    background-color: transparent;
    color: #290101;
    text-decoration: underline;
}
hr{
    width: 100vw;
}

/* brand*/
#brand {
    color: black;
    text-align: center;
    z-index: 1;
}
#brand h1{
    font-size: 80px;
    font-weight: bold;
}

/* categories */
.category{
    color:#290101;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}
#categories {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
#categories a {
    color: #333333;
    text-align: center;
    text-decoration: none;
}
hr{
    width: 100vw;
}
#categories a:hover{
    color: #290101;
    text-decoration: underline;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.categories img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#categories2 {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
#categories2 a {
    color: #333333;
    text-align: center;
    text-decoration: none;
}
#categories2 a:hover{
    color: #290101;
    text-decoration: underline;
}
.categories2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#wc2{
    margin-left: 100px;
}